/*mystyle.css */
body {
    background-color: white;
}
div {
  background-color: powderblue;
}
figcaption {
  font-weight: bold;
}
img {
  border-style: solid;
  border-radius: 8px;
  border-color: white;
}
ol {
  font-size: 20px;
}
#navbar {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
}
#navbar {
    float: left;
}
#navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
#navbar a:hover {
  background-color: cornflowerblue;
  color: red;
}
* {
  font-family: Arial;
}
.Beach {
  height: 300px;
  width: 450px;
}
.indoor {
  height: 400px;
  width: 700px;
}
a:link {
  color: black;
}
a:active{
  color: purple;
}
a:hover {
  color: red;
}
ol > li {
  font-size: 18px;
}
h1[style] {
  font-family: times;
}
h2[style] {
  font-family: times;
}
