/*mystyle.css */
body {
    background-color: white;
}
div {
  background-color: mistyrose;
}
h2{
  text-decoration: underline;
}
img {
  border-style: solid;
  border-radius: 8px;
  border-color: black;
}
#libero {
  border-style: double;
}
